<?php
defined('BASEPATH') OR exit('No direct script access allowed');
?>
<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<head>
    <meta charset="utf-8">
    <title></title>


</head>

<body>
    <img src="https://wallpaperaccess.com/full/266486.jpg" alt="Girl in a jacket" width="100%" height="100%"
        class="bg-landing">

    <div class="masthead">
        <div class="masthead-content text-white">
            <div class="container-fluid px-4 px-lg-0">
                <h1 class="fst-italic">Welcome to INTEGRATED CASE MANAGEMENT SYSTEM </h1>
                <p class="mb-5">We're working hard to finish the development of this site. Sign up below to receive
                    updates and to be notified when we launch!</p>

                <form>
                    <!-- <div class="form-group has-search">
						<span class="fa fa-search form-control-feedback"></span>
						<input type="text" class="form-control" placeholder="Search">
					</div> -->
                    <div class="row input-group-newsletter">
                        <div class="col">
                            <input type="text" class="form-control" placeholder="Search Here">
                        </div>
                        <div class=""><button class="btn btn-primary" type="submit">Search</button></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>