

p small {
    /*font-family: Microsoft Yahei, sans-serif;*/
    font-size: 14px;
    color: #5e656f;
    margin-top: 20px;
}
label {
    color: #495057;
   font-weight: 400;
    margin-bottom: 0px;
    font-size: 14px;
    font-family: Source sans pro, sans-serif !important;
}
body{
    /*background-color: #f4f4f4;*/
      font-family: Source sans pro, sans-serif !important;
    background: #eff3f7;
    color: #343a40;
}

