/*.chartdiv {
    width: 100%;
    min-height: 72vh;
}*/
.chartdiv {
  width: 100%;
  height: 60vh;
}
#piegraph {
  width: 100%;
  height: 50vh;
}
.tab-content {
  border : 1px solid #dee2e6;
}
.reports-ul .nav-link.active {
  font-size: 13px;
  border-bottom: 3px solid #e88f15 ! important;
  color: #5e656f ! important;
  background-color: #f4f4f4 ! important;
  border-radius: 4px;
  padding: 8px 25px;
  height: 40px;
}
.nav-inner-item > a {
  color: #333c48 ! important;
  text-decoration: none;
  background-color: transparent;
  font-size: 14px;
  padding: 8px 25px;
  height: 40px;
}
.dropdown-item {
  padding-left: 20px;
}
.btn-light {
  background: #fff;
  font-size: 14px !important;
  font-weight: 300 !important;
  padding: 0px 10px !important;
  color: #323c48 !important;
}
label {
  color: #343a40;
  font-weight: 500;
  margin-bottom: 0px;
  font-size: 14px;
}
.table .thead-light th {
  color: #495057;
  background-color: #c8dcf2;
  border-color: #c8dcf2;
}
.table .thead-grey th {
  background: #f8f9fc;
  color: #e88f13;
  font-weight: 500;
}
.inner-box {
  /* margin: 1.2em; */
  border: 1px solid #dee2e6;
  background-color: #fff;
  border-radius: 4px;
}
.d-inline-block {
  display: inline-block;
  font-size: 14px;
  color: #343a40;
  font-weight: 400;
  font-family: source sans pro;
}
.fw-6 {
  font-weight: 600;
}
.form-row {
  background-color: #daebfb;
  margin: 0;
  border-radius: 4px;
}
.switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 22px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 15px;
  bottom: 2px;
  left: 3px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
input:checked + .slider {
  background-color: #2196f3;
}
input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  /* Rounded sliders */
}
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}
.amcharts-amexport-item.amcharts-amexport-item-level-0 {
  width: 100% !important;
  padding: 10px !important;
}
.card .card-wrapper:hover {
  background-color: #daebfb;
}
.card-wrapper {
  background-color: #eff3f7;
}
.card-wrapper-report {
  min-height: 212px;
  display: flex;
}
.ribbon {
  position: absolute;
  left: 9px;
  top: -5px;
  z-index: 1;
  overflow: hidden;
  width: 75px;
  height: 75px;
  text-align: right;
}
.ribbon span {
  font-size: 10px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  width: 100px;
  display: block;
  background: #79a70a;
  background: linear-gradient(#2989d8 0%, #1e5799 100%);
  box-shadow: 0 3px 10px -5px #000;
  position: absolute;
  top: 19px;
  left: -21px;
}
.ribbon span::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 100%;
  z-index: -1;
  border-left: 3px solid #1e5799;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #1e5799;
}
.ribbon span::after {
  content: "";
  position: absolute;
  right: 0px;
  top: 100%;
  z-index: -1;
  border-left: 3px solid transparent;
  border-right: 3px solid #1e5799;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #1e5799;
}
.text-total {
  color: #1f5ea2;
  font-size: 16px;
  font-weight: 600;
}
.text-gtotal {
  font-weight: 800;
  font-size: 16px;
}
.btn-generate {
  margin: 20px 10px;
  float: right !important;
}
.report-range {
  background: #fff;
  cursor: pointer;
  padding: 2px 8px;
  border: 1px solid #ccc;
  width: max-content;
  font-size: 12px;
}
.victim-det-content {
  margin: auto;
}
.text-align_center {
  text-align: center !important;
}
.col-header {
  white-space: nowrap;
  background-color: #f5f6fa;
  padding: 10px 48px;
  font-weight: 600;
  font-size: 14px;
  text-align: center;
}
.col-header:nth-child(1) {
  text-align: left;
}
.txt-blue {
  color: #1f5ea2 !important;
}
