.legal-ul .nav-inner-item > a {
  color: #333c48 !important;
  text-decoration: none;
  background-color: transparent;
}
.legal-ul .nav-inner-item > a.active {
  font-size: 14px;
  height: 28px;
  line-height: 0px;
  border-bottom: 3px solid #e88f15 !important;
  background-color: #f4f4f4 !important;
  color: #5e656f !important;
  padding: 20px 20px;
}
.content-title {
  color: #356397;
  font-family: Source sans pro, sans-serif;
}
.content-sub-title {
  font-size: 10px;
}
.tab-legal {
  border: 1px solid #f5f6fa;
  border-radius: 4px;
  padding: 2rem;
}
.case-id {
  margin-bottom: 5px;
  font-weight: 600;
  font-size: 16px;
}
.victim-id {
  margin-bottom: 5px;
  font-weight: 600;
  color: #212529 !important;
}
.fa-upload {
  font-size: 35px;
  /*margin-left: 42%;*/
  color: #356397;
}
.note_desc {
  color: #6c757d;
  font-size: 14px;
  font-family: source sans pro;
}
.help-tip {
  display: inline-block;
  margin-left: 5px;
  text-align: center;
  background-color: #bcdbea;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  font-size: 14px;
  line-height: 26px;
  cursor: default;
}
.help-tip:before {
  content: "?";
  font-weight: bold;
  color: #fff;
}
.help-tip:hover input {
  display: block;
  transform-origin: 100% 0%;
  -webkit-animation: fadeIn 0.3s ease-in-out;
  animation: fadeIn 0.3s ease-in-out;
}
.help-tip input {
  display: none;
  text-align: left;
  background-color: #333c48;
  padding: 20px;
  width: 300px;
  position: absolute;
  left: 39px;
  border-radius: 3px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  right: -4px;
  color: #fff;
  font-size: 13px;
  line-height: 1.4;
  z-index: 1;
}
.help-tip input:before {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-bottom-color: #333c48;
  right: 10px;
  top: -12px;
}
.help-tip input:after {
  width: 100%;
  height: 40px;
  content: "";
  position: absolute;
  top: -40px;
  /* CSS animation */
  left: 0;
}
.card-per-stage {
  background-color: #f5f6fa;
  color: #6c757d;
  font-size: 16px;
  padding: 10px;
  margin-left: 15px;
  margin-right: 15px;
  font-family: Microsoft Yahei, sans-serif;
  font-weight: 900;
}
.text-align_center {
  text-align: center !important;
}
.mgn-L-10 {
  margin-left: 10px;
}
.timeline {
  list-style: none;
  padding: 20px 0 20px;
  position: relative;
}
.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 3px;
  background-color: #eee;
  left: 50%;
  margin-left: -1.5px;
}
.timeline > li {
  margin-bottom: 20px;
  position: relative;
}
.timeline > li:before, .timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li:before, .timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li > .timeline-panel {
  width: 20%;
  float: left;
  border: 1px solid #d4d4d4;
  border-radius: 2px;
  padding: 20px;
  position: relative;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}
.timeline > li.timeline-inverted + li:not(.timeline-inverted), .timeline > li:not(.timeline-inverted) + li.timeline-inverted {
  margin-top: -60px;
}
.timeline > li:not(.timeline-inverted) {
  padding-right: 90px;
}
.timeline > li.timeline-inverted {
  padding-left: 90px;
}
.timeline > li > .timeline-panel:before {
  position: absolute;
  top: 26px;
  right: -15px;
  display: inline-block;
  border-top: 15px solid transparent;
  border-left: 15px solid #ccc;
  border-right: 0 solid #ccc;
  border-bottom: 15px solid transparent;
  content: " ";
}
.timeline > li > .timeline-panel:after {
  position: absolute;
  top: 27px;
  right: -14px;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid #fff;
  border-right: 0 solid #fff;
  border-bottom: 14px solid transparent;
  content: " ";
}
.timeline > li > .timeline-badge {
  color: #fff;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 1.4em;
  text-align: center;
  position: absolute;
  top: 16px;
  left: 50%;
  margin-left: -25px;
  background-color: #999;
  z-index: 100;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}
.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}
.timeline-badge.primary {
  background-color: #2e6da4 !important;
}
.timeline-badge.success {
  background-color: #3f903f !important;
}
.timeline-badge.warning {
  background-color: #f0ad4e !important;
}
.timeline-badge.danger {
  background-color: #d9534f !important;
}
.timeline-badge.info {
  background-color: #5bc0de !important;
}
.timeline-title {
  margin-top: 0;
  color: inherit;
  font-size: 14px;
}
.timeline-body > p, .timeline-body > ul {
  margin-bottom: 0;
}
.timeline-body > p + p {
  margin-top: 5px;
  /*============*/
}
.history-tl-container {
  /*width: 84%;*/
  /*margin: auto 60px;*/
  font-family: "Roboto", sans-serif;
  /* position: relative; */
  /* height: 800px; */
  display: block;
  overflow-y: hidden;
  position: relative;
  overflow-y: scroll;
}
.history-tl-container ul.tl {
  margin: 0;
  padding: 0;
  display: inline-block;
}
.history-tl-container ul.tl li {
  list-style: none;
  margin: auto;
  /* background: rgba(255,255,0,0.1); */
  min-height: 100px;
  position: relative;
}
.history-tl-container ul.tl li:last-child {
  border-left: 0;
}
.history-tl-container ul.tl li:hover::before {
  border-color: #258cc7;
  transition: all 50ms ease-in-out;
}
ul.tl li .item-detail {
  color: rgba(0, 0, 0, 0.5);
  font-size: 12px;
}
ul.tl li .timestamp {
  color: #8d8d8d;
  position: absolute;
  width: 100px;
  left: -50%;
  text-align: right;
  font-size: 12px;
}
.card-body {
  padding: 0px !important;
}
.card-sub-title {
  font-family: Helvetica neue, sans-serif;
  font-size: 14px;
  color: #356396;
  margin-top: 0px;
  font-weight: 400;
  /*text-align:center;*/
  margin-bottom: 18px;
}
.pl-45 {
  padding-left: 45px;
}
.pl-15 {
  padding-left: 15px;
}
.inner-box {
  border: 1px solid #dee2e6;
  margin: 1.2em;
  background-color: #fff;
  margin-top: 0px;
}
.col-tab-content .form-control {
  width: 100%;
}
.vlist-table tr > td {
  border-top: 0px solid #dee2e6;
}
.card-acordion {
  border-radius: 4px;
  cursor: pointer;
  display: block;
  padding: 15px !important;
}
.card-accordion-icon {
  float: right;
  position: relative;
  bottom: 13px;
  right: 15px;
  font-size: 16px;
}
.history-tl-container ul.tl li.active .card-tabs {
  /*        border-top: 2px solid #adb5bd !important;
                border-top-left-radius: unset !important;
                border-top-right-radius: unset;*/
  background-color: #8fafd1 !important;
}
.history-tl-container ul.tl li.active .card-tabs .card-body .card-sub-title {
  padding: 0px 10px;
  color: #fff !important;
}
.history-tl-container ul.tl li.active .card-tabs .card-body .card-sub-title_ {
  padding: 0px 10px;
}
a {
  color: #0060b6;
  text-decoration: none;
}
a:hover {
  color: #00a0c6;
  text-decoration: none;
  cursor: pointer;
}
.status {
  background-color: #70bf81;
  color: #fff;
  border-radius: 4px;
  padding: 7px;
  font-size: 12px;
  height: auto;
  width: 190px;
  text-align: center;
}
.list-action {
  float: right;
  margin-top: 20px;
}
.stage-bg {
  background: #f8f9fa;
}
.settings_content {
  margin-left: 30px;
}
.textarea-wrap {
  height: 150px !important;
  width: 100%;
}
.row-header-border .card {
  background: #f5f6fa;
}
.victim_list_container {
  padding: 0px 11px;
}
.tag-area {
  width: 100%;
  height: auto;
  min-height: 50px;
  margin-top: 10px;
  padding: 10px 10px 5px 10px;
  float: left;
}
.tag {
  position: relative;
  width: auto;
  height: 25px;
  padding: 0 10px;
  line-height: 26px;
  background: #53aac3;
  float: left;
  font-size: 14px;
  background: #ced4da;
  border-radius: 4px;
  margin: 0 5px 5px 0;
  border-radius: 4px;
  overflow: hidden;
}
.tag span {
  position: absolute;
  top: 0;
  right: -30px;
  width: 30px;
  height: 30px;
  text-align: center;
  background: rgba(0, 0, 0, 0.8);
  transition: right ease 200ms;
  color: #e3e6f0;
}
.tag:hover {
  cursor: pointer;
}
.tag:hover span {
  right: 0;
}
.modal-open .modal {
  overflow-x: hidden;
  overflow-y: hidden;
}
.form-control {
  width: 100% !important;
}
.divider {
  margin: 7px 9px 4px;
  margin-top: 20px;
}
.text-divider {
  margin: 26px -16px 16px;
  line-height: 0;
  text-align: left;
}
.text-divider:before {
  content: " ";
  display: block;
  border-top: 1px solid #ced4d9;
  border-bottom: 1px solid #fff;
  margin: -11px 3px;
}
.text-divider span {
  background-color: #fff;
  padding: 6px 8px;
  font-size: 13px;
  color: #356396;
}
.card-remarks {
  background-color: #f8f9fc;
  height: 500px;
}
