

.icms-btn-primary {
    color : $orange;
}
.icms-text-primary {
    color: $orange;
}
.icms-bg-primary {
    background-color: $orange !important;
}

.icms-btn-secondary {
    color: $blue;
}
.icms-text-secondary {
    color: $blue;
}
.icms-bg-secondary {
    background-color: $blue;
}

.icms-text-default {
    color: $gray;
}
.icms-btn-default {
    color: $gray;
}
.icms-bg-default {
    background-color:  $gray;
}

.icms-text-white {
    color: $white !important;
}
.icms-btn-white {
    color: $white;
}
.icms-bg-white {
    background-color:  $white;
}
.icms-text-black {
    color: $black;
}
.icms-bg-black {
    background-color: $black;
}
.icms-btn-black {
    background-color: $black;
    color: $blue;
}

// Background colors
.bg-transparent{
    background-color: transparent;
}
.bg-light-grey{
    background-color: #f8f9fc;
}
.light-blue{
        color: #7ba5e4;
}
.light-red{
        color: #e69a9a;
}