@import 'abstracts/variable';
@import 'abstracts/reset';
@import 'utilities/color';
@import 'utilities/text';
@import 'utilities/float';
@import 'utilities/spacing';
@import 'layout/grid';
@import 'layout/header';
@import 'layout/navigation';
@import 'layout/footer';
@import 'components/buttons';
@import 'components/forms';
@import 'components/list';
@import 'components/modals';
@import 'components/media';
@import 'components/badge';
@import 'components/icon';
@import 'components/cards';
@import 'components/tables';
@import 'components/preloader';
@import 'components/floater';
@import 'components/breadcrumbs';


/*@media screen and (max-width:900px)  {
    #sidebar, #sidebar1 { 
        width: 700px;
    }
    #menu {
        width: 890px;
    }
    .icon-sidebar {
        left: 690px;
    }
}*/
/*@media screen and (max-width:620px) and (min-width:500px){
    #sidebar, #sidebar1 { 
        width: 620px;
    }
      #menu {
        width: 815px;
    }
    .icon-sidebar {
        left: 615px;
    }
}*/



.datepicker{
    z-index:1100;
}
.bookmarks {
    margin: 27px 19px;
    font-size: 36px;
    color: #fff
}

.hide{
    display:none;
}
.blue{
    color:$blue !important;
}

.news-img {
    width:100%;
}


.table {
    .thead-grey{
        color: #495057;
        /* background-color: #c8dcf2; */
        background: #F5F6FA;
        border-color: #F5F6FA;
        font-weight: 600;
        color: #333C48;
        font-family: $font-family2;
    }
}

.see-all-notif {
    padding: 0px! important;
}

.pagination {
    float: right;
}
.advance_search{
    .search-field{
        border-radius: 21px !important;
        height: 26px !important;
    }
}

.tab-content{
    padding: 18px;
}
.content-body{
    .card {
        .content-body-container{
            padding: 10px;
        }
    }
}
.col-header{
    white-space: nowrap;
    background-color: #F5F6FA;  
    padding: 10px 48px;
    font-weight: 600;
    font-size: 14px;
}
.col-body{
    font-size: 12px;
    padding:20px  10px;
}


.help-tip{
    display: inline-block;
    margin-left: 5px;
    text-align: center;
    background-color: #BCDBEA;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    font-size: 14px;
    line-height: 26px;
    cursor: default;
}

.help-tip:before{
    content:'?';
    font-weight: bold;
    color:#fff;
}

.help-tip:hover p{
    display:block;
    transform-origin: 100% 0%;

    -webkit-animation: fadeIn 0.3s ease-in-out;
    animation: fadeIn 0.3s ease-in-out;

}

.help-tip p{    /* The tooltip */
    display: none;
    text-align: left;
    background-color: #333c48;
    padding: 20px;
    width: 300px;
    position: absolute;
    border-radius: 3px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    right: -4px;
    color: #FFF;
    font-size: 13px;
    line-height: 1.4;
    z-index: 1;
}

.help-tip p:before{ /* The pointer of the tooltip */
    position: absolute;
    content: '';
    width:0;
    height: 0;
    border:6px solid transparent;
    border-bottom-color:#333c48;
    right:10px;
    top:-12px;
}

.help-tip p:after{ /* Prevents the tooltip from being hidden */
    width:100%;
    height:40px;
    content:'';
    position: absolute;
    top:-40px;
    left:0;
}

/* CSS animation */

@-webkit-keyframes fadeIn {
    0% { 
        opacity:0; 
        transform: scale(0.6);
    }

    100% {
        opacity:100%;
        transform: scale(1);
    }
}

@keyframes fadeIn {
    0% { opacity:0; }
    100% { opacity:100%; }
}

.ribbon {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1;
    overflow: hidden;
    width: 75px;
    height: 75px;
    text-align: right;
}
.ads-ribbon {
    font-size: 10px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    line-height: 20px;
    transform: rotate(45deg);
    -webkit-transform: rotate(-45deg);
    width: 100px;
    display: block;
    background: #79a70a;
    box-shadow: 0 3px 10px -5px #000;
    position: absolute;
    top: 12px;
    right: 5px;
}
.ribbon.reserved.high-prio span {
    background: linear-gradient(#e81d30 0%, #860529 100%);
}
.ribbon.reserved.low-prio span {
    background: linear-gradient(#20af0fad 0%, #14650b 100%);
}

@mixin transitionAll() {
    transition: all .3s ease-out;
}
.sidebar-dtry {
    flex: 1 0 360px;
    background: #333c48;
    height: 850px;
    overflow-y:scroll;
    @include transitionAll();
    &.is-collapsed {
        transform: translateX(-100%);
    }
}
.sidebar-data-dnry {
    flex: 1 0 360px;
    background: #333c48;
    height: 850px;
    overflow-y:scroll;
    @include transitionAll();
    &.is-collapsed {
        transform: translateX(-100%);
    }
}
.content {
    width: 100%;
    height: 100%;
    padding: 1rem;
    @include transitionAll();
    &.is-full-width {
        margin-left: -300px;
    }
}
.container-directory {
    display: flex;
    width: 100%;
    height: 100%;
}
.container-data-dnry {
    display: flex;
    width: 100%;
    height: 100%;
    margin-top: -42px;
}
@media (min-width: 300px){
    .container-directory {
        max-width: 380px;
        margin-left: -15px;
    }
}
@media (min-width: 300px){
    .container-data-dnry {
        max-width: 440px;
        margin-left: -15px;
    }
}
.directory-header {
    /*padding: 35px;*/
}
.directory-content {
    padding: 5px 19px;
}
.agency-name-text{
    font-family: $font-family;
    font-size:16px;
    font-weight: 300;
}
.agency-type-text {
    font-family: $font-family;
}
.white {
    color: $white;
}
.accordion>.card.card-directory {
    border-bottom: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    background-color: #333c48;
    padding: 0px 20px !important;
}
.card-directory {
    background-color: #333c48;
}
.card .card-data-dnry {
    border-bottom: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    background-color: #333c48;
    padding: 0px 20px !important;
}
.accordion>.card.card-directory .card-header {
    margin-bottom: 0px;
    height: 90px;
}
.btn-directory {
    height: 33px;
    font-weight: 300;
    padding: 0px! important;
    font-size: 16px;
    font-family: Microsoft Yahei, sans-serif;
    text-align: left;
}
.btn:focus {
    outline: 0;
    box-shadow: 0 0 0 0rem rgba(0,123,255,.25);
}
.card-header-directory {
    padding: 0.75rem 0.25rem;
    margin-bottom: 0;
    background-color: rgba(0,0,0,.03);
    border-bottom: 1px solid rgb(255, 255, 255);
}
.card-body-directory {
    padding: 0px;
    background-color: $orange;
}
.fas-dtry {
    color: $white;
    font-size:12px;
}
.caret-directory{
    margin-left: 50px;
}
.fa-caret-down {
    margin-top: 0;
    color: #fff;
    font-size: 24px;
}
.text-list {
    font-weight: 500;
    font-size: 12px;
    font-family: $font-family;
}
.accordion-directory {
    margin-top: 15px;
}
.data-dnry-wrapper {
    margin-top: 15px;
}
.text-dtry {
    font-size: 18px;
    padding-left: 1rem;
}
.x-directory {
    margin-right: 15px;
    color: white;
}
.x-directory:hover {
    color: $orange;
    text-decoration: none;
}
.x-data-dnry {
    margin-right: 15px;
    color: white;
}
.x-data-dnry:hover {
    color: $orange;
    text-decoration: none;
}
.data-term-text {
    font-size:15px;
}
.data-def-text {
    font-size:13px;
}
.data-content-wrapper {
    padding: 21px;
}
.messages-list {
    width: 435px ! important;
    /*height: 310px;*/
    overflow-y: scroll;
    margin-left: 47px;
}
.nav-pills .nav-link {
    font-size: 14px;
}
.txt_search{
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    border-radius: 3px;
    /* box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); */
    padding: 2px 8px;
    height: 30px;
    position: relative;
    top: 3px;
}

.navbar-search{
    padding-top: 5px;
    padding-left: 0%;
    padding: 9px 15px 16px !important;
}

.error {
    color: #d6795b;
}
.fa-expeditedssl {
    color: #e88f13;
    font-size: 59px;
    margin-left: 152px;
    margin-top: 22px;

}

.session-text {
    font-size: 18px;
    color: #323c48;
    font-family: Microsoft Yahei, sans-serif;
    text-align: center;
    margin-top: 10px;
}
.mdl-session {
    width: 80%;
    margin-top: 50%;
    border: 0px;
    box-shadow: 0 4px 8px 0 rgba(165, 165, 165, 0.2);
}
.select-filter{
    background: #fff;
    color: #333c48;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    border-radius: 3px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    padding: 2px 8px;
    height: 29px;
    font-size: 13px;
    width: 100px;
}
.fa-user-circle {
    font-size: 19px !important;
    position: relative;
    top: 2px;
}
.fa-sign-out-alt {
    font-size: 19px !important;
    position: relative;
    top: 2px;
}
.menu-accnt:hover {
    color: #16181b !important;
    text-decoration: none;
    background-color: unset;
    border-bottom: 2px solid #e98d14;
}
.menu-accnt {
    margin-top:10px;
}
/*.list-group-item {
        padding: .50rem 1.25rem! important;
}*/

.notif-menu{
    /*    border-bottom: 0px !important;
        padding-bottom: 0px !important;
        position: absolute;
        left: 30px;
        float: left;
        min-width: 10rem;
        padding: 0.5rem 0;
        color: #333c48;
        text-align: left;
        list-style: none;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid rgba(97, 92, 92, 0.15);
        border-radius: 0.25rem;*/
    display: none;

    .action-title {
        margin-top: -8px;
        background-color: #f5f6fa;   

        font-size: 12px;
        font-weight: 600;
        border-top-left-radius: 0.25rem;
        border-top-right-radius: 0.25rem;
        padding: 10px;
        text-align: center;
        color: #356397 !important;
    }
    .dropdown-item{
        padding: 10px 15px;
        border-bottom: 1px solid #eee;
        color: #5a6875 !important;
        font-size: 13px;
    }

    .dropdown-item:hover{
        color: #e88f15 !important;
        cursor: pointer;
    }
}

.notif-menu:after, .notif-menu:before {
    bottom: 100%;
    left: 90%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.notif-menu:after {
    border-color: rgba(136, 183, 213, 0);
    border-bottom-color: #88b7d5;
    border-width: 5px;
    margin-left: -5px;
}
.notif-menu:before {
    border-color: rgba(194, 225, 245, 0);
    border-bottom-color: #c2e1f5;
    border-width: 6px;
    margin-left: -6px;
}
/*.fa-menu {
    color: #356397;
}*/




.nd-header{
    margin-bottom: 10px;
    i {font-size: 60px;color: #dee2e6;};
}
.nd-body{
    margin-bottom: 25px;
    .nd-body-content{
        color: #6c757d;
    }
}
.modal-sm{
    max-width: 340px;
}
.btn-update {
    background-color: #80a4e4;
    color: $white;
    padding-left: 30px;
    padding-right: 30px;
    font-family: Microsoft Yahei, sans-serif;
    font-size: 13px;
    height: 27px;
    line-height: 1px;
    font-weight: 400;
}
.pl-85 {
    padding-left:85px;
}
.head-action-nav{
    .dropdown-menu{
        left:unset !important;
        top:unset !important;
        right:0 !important;
        z-index:1167;
    } 
}

.head-action-nav:hover{
    a i{
        color: #e88f15 !important;
    }
    a img{
        border: 1px solid #e88f15;
        border-radius: 50px;
    }
    .dropdown-toggle::after{
        color: #e88f15 !important;
    }
}
.custom-checkbox .custom-control-label::before{
    border-radius: .25rem;
    background: #f1f3ff;
    width: 20px;
    height: 20px;
    border: 1px solid transparent;


}
.custom-control-label::after{
    position: absolute;
    top: .25rem;
    left: -1.5rem;
    display: block;
    width: 20px;
    height: 20px;
    content: "";
    background: no-repeat 50%/50% 50%;
}
.add-task-icon{
    color: #fff;
    background: #e88f15;
    padding: 8px 12px;
    border-radius: 50%;
    height: 32px;
    width: 32px;

    &:hover{
        background: #ffc107;
    }
}
.row-header-border {
    border-bottom: 2px solid #8fafd1! important;
    font-weight: 600;
}
textarea .form-control {
    height: unset! important;
}

.btn-manage-address {
    height:33px! important;
}
.btn-return{
    background: #adb5bd;

    &:hover{
        background: #6c757d;
    }
}
.task-icon {
    color: #fff;
    padding: 8px 12px;
    border-radius: 50%;
    height: 32px;
    width: 32px;
}
.list_content li .card:hover {
    background-color: #eff3f7;
    cursor:pointer;

    .row .col-8 .d-flex{
        .custom-control.custom-checkbox.pr-3{
            label.custom-control-label{
                &::before{
                    background: #adb5bd;
                }
            }

        }
    }

}
.stat-header {
    color: $black; // gray
    font-family: $font-family2; 
    font-weight: 600;
    font-style: normal;
    text-transform: capitalize;
    font-size: 18px;
    margin-bottom: 8px;
}
.action-title{
    color: #aeb5bc !important;
}
.pagination{
    li{
        padding: 0px 1px;
        a.page-link{
            color: #6c757d;
            border: 0px;
        }

    }
    .disabled{
        a{
            position: relative;
            top: 8px;
            padding: 10px;
            pointer-events:none;
            opacity:0.4;
        }

        &:last-child a i{
            position: relative;
            bottom: 8px;
        }

        &:first-child a i{
            position: relative;
            bottom: 8px;
        }
    }
    .active a{
        border: 1px solid #8fafd1 !important;
        /* border-radius: 50%; */
        padding: 5px 11px;
        color: #e88f15 !important;
        color: #fff !important;
        position: relative;
        top: 2px;
        background: #8fafd1 !important;
    }
}


.show{
    display:block !important;
}
.disabled_page{
    color: #a2acb9;
    font-size: 18px;
}
.pagination{
    font-family: source sans pro,sans-serif;
    font-size: 15px;
    li.disabled_page a i{    
        color: #a2acb9;
        font-size: 18px;
        position: relative;
        top: -4px;

    }
    li a i{    
        color: #8fafd1;
        font-size: 18px;
    }

}

.no-border{
    border: 0px solid !important;
}
.pagination-details{
    color: #6c757d;
    font-family: source sans pro,sans-serif;
    font-size: 15px;
}
.p1rem {
    padding: 1rem! important;
}
.bs-stepper-content{
    padding:0px!important;
}
.bg-form-grey{
    background: #f4f8fa;
}
.nav-inner-tab{
    .nav-link{
        color: #adb5bd;
    }
    .nav-link.active{
        /* background: #f4f8fa; */
        border-bottom: 1.5px solid #e88f15;
        color: #212529;
    }
}
.border{
    border: 1px solid #eff5fb!important;
}

#icmsMessage .modal{
    background-color: rgba(0, 0, 0, -0.75);
    z-index: 9999;
}

.dropdown-toggle::after{
    color: transparent !important;
}
.card-height {
    min-height: 54vh;
}
.bg-red {
    background: #f5b1b7 !important;
}
.ul-cd-sel-amp {
    border: 1px solid #eff5fb !important;
    background: #e9ecef;
    columns: 2;
    -webkit-border: 1px solid #eff5fb !important;
    -moz-border: 1px solid #eff5fb !important;
    -ms-border: 1px solid #eff5fb !important;
    /*height: 37px;*/
    li {
        list-style: none;
    }
}
.form-padding-left{
    padding-left: 3rem;
}
.case_no-title{
    padding: 9px;
    font-size: 14px;
}
.border-yellow{
    border: 1px solid #e88f15 !important;
}
.border-yellow-light{
    border: 1px solid #ffe18b !important;
}
.bg-yellow{
    border: 1px solid #e88f15 !important;
}
.bg-yellow-light{
    background-color: #FFE28C;
}
.bg-light-gray{
    background:#F5F6FA;
}
.bg-light-blue{
    background:#8fafd1;
}
.bg-faded{
    background: #f5f6fa;
}
.wd-full{
    width:100%;
}
.fw-600{
    font-weight:600;
}
.fw-400{
    font-weight:400 !important;
}
.fileupload_div{
    padding: 35px 5px;
}
.txtarea--job_desc{
    height:210px! important;
}
.textarea-xs{
    height:150px! important;
}
.textarea-xxs{
    height:50px! important;
}
.textarea-xl{
    height:250px! important;
}
.textarea-md{
    height:200px! important;
}
.textarea-unset{
    height: unset !important;
}
.text--orange{
    color: #e88f15 !important;
}
.text--light-red{
    color:#ce6787;
}
.text--blue{
    color:#0088cc;
}
.text--white{
    color:#fff !important;
}
.text--15{
    font-size:15px;
}
.dropdown--order_by{
    z-index: 1;
    position: absolute;
    will-change: transform;
    top: 0px;
    left: 0px;
    transform: translate3d(667px, 31px, 0px);

    .action-title{
        color: #aeb5bc !important;
    }
}

.h-300{
    max-height: 300px;
}
.avatar{
    width: 100px;
    height: 100px;
}
.pointer{
    cursor: pointer;
}
.overflow-scroll{
    overflow-y:scroll;
}
.border-bottom{
    border-bottom: 1px solid rgba(0,0,0,.1) !important;
}
.border-right{
    border-bottom: 1px solid rgba(0,0,0,.1);
}

// hide number spinner 
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}
.dropdown-toggle::after {
    color: #e88f14 !important;
}
.blue__ {
    color: #356397;
}

// Password icon 
.toggle-password_icon {
    float: right;
    margin-left: -25px;
    margin-top: -25px;
    position: relative;
    z-index: 2;
    right: 15px;
    font-size: 14px;
}