.form-group {
  margin-bottom: 10px !important;
}
.form-control {
  width: 75%;
  /*height: calc(19px + 0.75rem + 0px) !important;*/
  font-size: 14px !important;
  color: #333c48;
  font-family: source sans pro, sans-serif;
  font-weight: 400;
}
.input-form {
  input {
    border-radius: 20px !important;
    width: 240px !important;
  }
  .search-input {
    .search-icon {
      position: absolute;
      top: 22px;
      left: 237px;
      color: #8594a1;
    }
  }
}
select .form-control {
  height: calc(19px + 0.75rem + 0px) !important;
}
input .form-control {
  height: calc(19px + 0.75rem + 0px) !important;
}
.form-row {
  margin-bottom: 1rem;
}
.input-form {
  input {
    border-radius: 0px !important;
    width: 240px !important;
    margin-left: 250px;
  }
}
.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #e88f15;
  outline: 0;
  box-shadow: 0 0 0 0.2rem #e88f150d;
}
.form-manage-address,
#form-add-contact-person {
  .form-control {
    width: 100% !important;
  }
}
.form-check-label {
  margin-left: 10px;
}
.chosen-container-multi .chosen-choices {
  position: relative !important;
  overflow: auto !important;
  margin: 0 !important;
  padding: 0 5px !important;
  width: 100% !important;
  background-color: #fff !important;
  cursor: text !important;
  border-radius: 3px !important;
  border-radius: 3px !important;
  box-shadow: unset !important;
  border: 1px solid #ced4da !important;
  background-image: unset !important;
  height: auto !important;
  /*min-height: 70px;*/
  max-height: 200px !important;
  .search-choice {
    background: #dee2e6 !important;
    border-radius: 13px !important;
    color: #495057 !important;
    border: 1px solid rgba(173, 181, 189, 0.3686274509803922) !important;
    padding: 5px 23px 6px 10px !important;
  }
}
.chosen-container-single .chosen-single {
  border: 1px solid #ced4da !important;
  height: 32px !important;
  background: #fff !important;
  line-height: 25px !important;
  span {
    color: #6c757d;
  }
}

