

.icon-tagged {
    padding-left: 50%;
    padding-top: 40%;
    color: #346397;
    font-size: 24px;
}
.icon-expired {
    padding-left: 50%;
    padding-top: 40%;
    color: $red;
    font-size: 24px;
}
.icon-time {
    padding-left: 50%;
    padding-top: 40%;
    color: $orange;
    font-size: 24px;
}
.fa-home {
    color: $orange;
    text-align:left;
    margin-left: -55%;
}
td .ellipse-action a i {
    color: #356396 !important;
}
