.table {
    .thead-grey{
        color: #fff ;
        font-family: Source sans pro, sans-serif !important;
        background: #fff ;
        th{
            border-bottom: 2px solid #8fafd1;
            font-weight: 600;
        }
    }
    tbody{
        tr td{
            .ellipse-action {
                .a-ellipse{
                    width: 43px;
                    background: #fff;
                    padding: 9px 19px;
                    border-radius: 50%;
                    i{     color: #e88f15 !important;}
                }
                .a-ellipse:hover {
                    background: #f5f6fa;
                }
            }

            .action-menu{
                position: absolute;
                top: 161% !important;
                border: 1px solid #e3e6f0 !important;
                .action-title{
                    padding: 10px 15px;
                    border-bottom: 0px solid #eee;
                    color: #aeb5bc !important;
                    font-size: 13px;
                    background-color: transparent !important;
                }
            }
        }
    }
}

