

.float{
    position: fixed;
    width: 60px;
    height: 60px;
    top: 257px;
    left: 44px;
    background-color:#e88f15;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    box-shadow: 1px 1px 8px #999;
}

.my-float{
    margin-top: 16px;
    font-size: 28px! important;
}
