

.mgn-L-15{
    margin-left: 30px !important;
    margin-bottom: 45px;
}
.padding_15{
    padding:15px !important;
}
.form-check-label{
    margin-bottom: 0;
    color: #356397 !important;
    font-weight: 500;
    margin-left: 10px;
}
.mgn-B-20{
    margin-bottom:20px !important;
}
.mgn-B-0 {
    margin-bottom: 0px;
}
.mgn-b-5{
    margin-bottom:5px !important;;
}
.mgn-T-18 {
    margin-top:18px;
}
.mgn-T-5 {
    margin-top: 5px;
}
.mgn-t-35{
    margin-top:35px;
}
.pl-15 {
    padding-left: 10px;
}
.padding-T-15 {
    padding-top: 15px;
}
.padding-T-30 {
    padding-top: 30px;
}
.padding-T-60 {
    padding-top: 60px;
}
.padding-l-15{
    padding-left:15px;
}
.padding-l-10{
    padding-left:10px !important;
}
.txt-14{
    font-size:14px !important;
}
.txt-W-500{
    font-weight: 500 !important;
}
.padding1rem {
    padding: 1rem;
}
.txt-align_center{
    text-align:center;
}
.TitleBreak{
    margin-bottom:10px;
}
.p-l-0{
    padding-left:0px !important;
}
.m-x-0{
        margin-left: 0px !important;
    margin-right: 0px !important;
}
.p-r-10{
    padding-right:10px;
}
.m-l-20{
        /*margin-left: 20px;*/
}
.p-b-18{
      padding-bottom: 18px;  
}
.center {
  margin: auto;
  padding: 10px;
}