

p small {
    font-size: 14px;
    color: #5e656f;
    margin-top: 20px;
}
label {
    color: #495057;
    font-weight: 500;
    margin-bottom: 0px;
    font-size: 14px;
}
body{
    background: #eff3f7;
}
small {
    font-size: 13px ! important;
    color: #333c48! important;
}
