.sub-title {
  color: #5a6363;
  font-weight: 600;
  font-family: Microsoft Yahei, sans-serif;
}
.fa-upload {
  font-size: 43px;
}
.btn-add-agency {
  width: 201px;
  text-align: center;
}
.container-inner {
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.form-control {
  width: 100%;
}
.img-agency {
  height: 110px;
  width: 130px;
}
.div-image {
  background-color: #fff;
  height: 170px;
  bottom: 0px;
}
.div-agency {
  background-color: #fff;
  height: 170px;
  bottom: 0px;
}
.div-agency-container {
  background-color: #fff;
  bottom: 0px;
}
