a {
  cursor: pointer;
}
.lbl {
  white-space: nowrap;
}
btn-select-role {
  white-space: nowrap;
  display: inline;
}
.div-form-footer {
  padding-top: 5px;
}
.content-title {
  color: #356397;
  font-family: Source sans pro, sans-serif;
}
.content-sub-title {
  font-size: 10px;
}
input::-webkit-input-placeholder {
  /*Change the placeholder color*/
  color: black;
  /*Change the opacity between 0 and 1*/
  opacity: 0.2;
  font-size: 12px;
}
.col-header {
  white-space: nowrap;
  background-color: #f5f6fa;
  padding: 10px 10px;
  font-weight: 600;
  font-size: 14px;
}
.col-body {
  font-size: 12px;
  padding: 20px 10px;
}
.ellipse-selected {
  color: #007bff !important;
  text-decoration: none;
}
.dropdown-item {
  padding: 0.5em 8px;
}
.modal-body .card {
  padding-bottom: 0px !important;
}
.modal-body .card-title {
  margin-left: 0px !important;
}
.modal-body .lbl-agencies_contact_list {
  line-height: 4px;
}
.modal-body .agencies_address {
  line-height: 17px;
}
.modal-body .modal-title {
  padding: 43px 0px;
}
.agency_details {
  line-height: 0px !important;
}
.agency_details .content-title {
  line-height: 20px;
}
.agency_details .content-title .badge {
  margin-left: 10px;
}
.agency_details .agency_description {
  line-height: 15px;
}
.agency_details .agency_description p {
  text-align: justify !important;
  text-indent: 20px;
  padding: 10px;
}
.form-control {
  width: 100%;
}
.img-manage {
  height: 160px;
  width: 160px;
  padding: 15px;
}
@media screen and (max-width: 991px) {
  .img-manage {
    height: 100px;
    width: 100px;
    padding: 15px;
  }
}
#description {
  height: 200px !important;
}
.ellipse-action a.action_btn {
  width: 43px;
  background: #fff;
  padding: 9px 19px;
  /*color: #333c48;*/
  border-radius: 50%;
  color: #356397;
}
.ellipse-action a.action_btn:hover {
  width: 43px;
  background: #f5f6fa;
  padding: 9px 19px;
  border-radius: 50%;
  color: #e88f15;
}
.agency-list_content {
  padding: 15px 10px;
  font-family: Source sans pro, sans-serif;
}
.agency-list_content li .card {
  border-bottom: 1px solid #dee2e6 !important;
  border-radius: unset;
}
.agency-list_content .nav-data_list .data_list_img {
  padding-right: 10px;
}
.agency-list_content .nav-data_list .desc_content {
  padding-left: 0px !important;
}
.agency-list_content .nav-data_list .desc_content .desc_abbr {
  color: #356397;
  font-weight: 400;
  font-size: 14px;
}
.agency-list_content .nav-data_list .desc_content .desc_name {
  color: #356397;
  font-size: 15px;
  font-weight: 500;
}
.agency-list_content .nav-data_list .desc_content .desc_sub_name {
  color: #495057;
  font-size: 14px;
}
.agency-list_content .nav-data_list .desc_agency_description {
  font-size: 11px;
  color: #6c757d;
}
.agency-list_content .nav-data_list .desc_agency_description span a.view_more .ellipse-selected {
  color: rgba(0, 123, 255, .5) !important;
  text-decoration: none;
}
.pagination-details {
  font-size: 12px;
}
.mdl-body_view_agency {
  font-family: Helvetica neue, sans-serif;
}
.mdl-body_view_agency .card-img-loc {
  border: 1px solid #e9ecef !important;
  height: 125px;
  padding: 10px !important;
}
.mdl-body_view_agency .lbl-agency_desc {
  font-size: 13px;
  color: #6c757d;
  text-align: justify;
}
.mdl-body_view_agency .tile_description {
  margin: 9px 0px;
  font-size: 14px;
  color: #356397;
}
.mdl-body_view_agency .lbl-agency_name {
  color: #356397;
}
.mdl-body_view_agency .lbl-agency_abbr {
  font-size: 18px;
  color: #e88f15;
  font-weight: 500;
}
.mdl-body_view_agency .lbl-agency_typ {
  color: #6c757d;
  font-size: 13px;
}
.div-image {
  background: #fff;
  box-shadow: 31px 45px 77px -57px #9c998b;
  margin-bottom: 25px;
  border: 1px solid #e9ecef;
}
.form-update {
  padding: 0 20px;
}
.form-update textarea {
  padding: 15px;
  text-align: justify;
}
.fa-active {
  color: #a6cc5a;
  margin-top: 33px;
}
.fa-inactive {
  color: #818181;
  margin-top: 33px;
}
.tags_ {
  font-weight: 600;
  font-size: 12px;
}
.tags_item-label {
  margin-left: 3px;
  font-size: 12px;
}
.tags_item {
  width: 12px;
  display: inline-block;
  height: 11px;
}
.agency_name {
  text-transform: capitalize;
  font-weight: 600;
  font-size: 18px;
}
.msgmodal-header {
  font-weight: 600;
}
@media screen and (max-width: 991px) {
  .list-action {
    margin-top: 0px ! important;
    float: left ! important;
    margin-left: 30px;
  }
}
