.case-title {
  font-family: Microsoft Yahei, sans-serif;
  font-size: 18px;
  color: #356397;
  margin-top: 20px;
  margin-left: 50px;
}
.tbl-cases {
  margin-left: 5%;
  margin-right: 5%;
  width: 90%;
}
a {
  cursor: pointer;
}
.lbl {
  white-space: nowrap;
}
.content-title {
  color: #356397;
  font-family: Source sans pro, sans-serif;
}
.content-sub-title {
  font-size: 10px;
}
.col-header {
  white-space: nowrap;
  background-color: #f5f6fa;
  padding: 10px 10px;
  font-weight: 600;
  font-size: 12px;
}
.col-body {
  font-size: 12px;
  padding: 20px 10px;
}
.action-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  float: left;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin-left: 10px;
  margin-top: -20px;
  font-size: 9px;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: 0.25rem;
  display: none;
}
.action-menu .action-title {
  margin-top: -8px;
  background-color: #f4f4f4;
  font-size: 12px;
  font-weight: 600;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}
.ellipse-selected {
  color: #007bff !important;
  text-decoration: none;
}
.dropdown-item {
  padding: 0.5em 8px;
}
.victim-number {
  margin-bottom: 5px;
  font-weight: 600;
  font-size: 16px;
}
.choose-filter {
  width: 190px !important;
}
button#dropdown_service {
  color: #356397;
  width: 41px;
  height: 38px;
  background: transparent;
  padding: 10px 17px;
  border-radius: 50%;
}
button#dropdown_service:hover {
  width: 41px;
  height: 38px;
  background: #f5f6fa;
  padding: 10px 17px;
  border-radius: 50%;
  color: #e88f15;
}
.list-action {
  float: right;
  margin-top: 20px;
}
.mdl-legal-title {
  padding-top: 25px;
  margin-left: 7%;
}
.content-sub-title {
  margin-left: 7%;
}
.pl-25 {
  padding-left: 25px;
}
